<h1>Reactive form !</h1>
<div class="container mt-5">
    <div class="form-area">
        <form action="" [formGroup]='form' (submit)="OnSubmit()">
            <div class="form-group">
                <label>Ime</label>
            <input type="text" 
            placeholder="Ime"
            name="fullName"
            class="form-control"
            formControlName='fullName'>
            <div   *ngIf="fullName.touched &&  fullName.invalid">
                <div class="alert alert-danger" *ngIf=" fullName.errors?.required"> Obavezno polje</div>
            </div>
            </div>
            
            <div class="form-group">
                <label>Email</label>
            <input type="email" 
            placeholder="Email"
            name="email"
            class="form-control"
            formControlName='email'>
            <div   *ngIf="email.touched &&  email.invalid">
                <div class="alert alert-danger" *ngIf=" email.errors?.required"> Obavezno polje</div>
            </div>            
            </div>
            <div class="form-group">
                <label>Password</label>
            <input type="text" 
            placeholder="Šifra"
            name="password"
            class="form-control"
            formControlName='password'>
            <div   *ngIf="password.touched &&  password.invalid">
                <div class="alert alert-danger" *ngIf="password.errors?.required"> Obavezno polje</div>
            </div>   
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
        </form>
    </div>
</div>